.section-about {
  height: 100vh;
  background-color: #fff; }

.text-box {
  font-weight: 700;
  color: #2e231d;
  margin-top: 20px;
  font-size: 32px;
  line-height: 42px;
  text-align: center; }
  .text-box__coffee {
    border-bottom: .5px solid;
    padding: .5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.header {
  height: 100vh;
  background-image: url(../img/coffee.jpg);
  background-size: cover;
  position: top; }
  .header__text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  visibility: inherit; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 15rem;
    letter-spacing: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 10rem;
    font-weight: 100;
    letter-spacing: 1.75rem; }

.card {
  background-color: rgba(148, 124, 102, 0.1); }
  .card__picture-1 {
    margin: 0 auto;
    padding-top: 4rem;
    margin-bottom: 2rem; }
  .card__heading {
    text-align: center;
    font-weight: 600;
    color: #111111; }
